

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url("fonts/Mulish-Bold.ttf") format("opentype");
  font-weight: bold;
}



.icon-btn {
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  font-size: 1.5em; /* Adjust the font size as needed */
}

.rotated-icon {
  transform: rotate(90deg); /* Rotate the icon by 45 degrees */
}

@font-face {
  font-family: "Mulish Light";
  src: local("Mulish"), url("fonts/Mulish-Regular.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url("fonts/Merriweather-Bold.ttf") format("opentype");
  font-weight: bold; 
}


p {
  font-family: 'Mulish Light', sans-serif;
}


h1 {
  font-family: 'Mulish', sans-serif;
  font-weight: bold; 
}

h2 {
  font-family: 'Merriweather', sans-serif; 
  font-weight: normal; 
}




@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  
}

h1{
  font-family: 'Mulish', sans-serif;
  
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
